# dependencias
node_modules/

# entorno y configuración
.env
*.log

# bases de datos locales
*.sqlite

# carpetas de compilación/bundling
.expo/
.expo-shared/
web-build/
dist/
build/

# sistema operativo o editores
.DS_Store
.vscode/
.idea/

# archivos de Android/iOS que no van al repo
*.keystore
*.jks
*.p12
*.p8
*.mobileprovision

# coverage de tests
coverage/
